body{
  background-image: url(https://wallpapershome.com/images/wallpapers/lake-aurora-3840x2160-4k-hd-wallpaper-florida-night-sky-stars-12771.jpg);
  background-repeat: no-repeat;
  backface-visibility: fixed;
  background-size: 150%;
}

a{
  color: #fff
}
.header {
  display: flex;
  justify-content: space-between;
  background: black;
  font-family: Yu Gothic;
  padding: 10px;
  color: #ffffff;
  /*opacity: .8;*/
  /*border-style: solid;
  border-width: 4px;
  border-color: red;
  border-radius: 1px;*/
}

.header_section{
  display: flex;
  align-items: center;
  margin-left: 10px;

}
.header_logo{
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 50px;
}

.header_button{
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 25px;
}
.header_button:hover{
  background-color: red;
}
main{
  display: flex;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#Glavnaya{
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  margin-top: 150px;
  font-family: Yu Gothic;
}
/*h1{
  color: white;
  margin-left: 450px;
  margin-top: 150px;
}*/
.warp{
  display: flex;
  align-items: stretch;
  width: 90%;
  margin: auto;
  flex-direction: column;
}
button{
  width: 30px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}
button:hover{
  opacity: 1;
}

.slider{
  display: flex;
  flex-direction: row;
}
.scroller{
  flex: 1;
  overflow: hidden;
}
.items{
  list-style-type: none;
  white-space: nowrap;
  transition: transform 1s ease-in-out;
}
.item{
  margin-left: auto;
  margin-right: auto;

  display: inline-block;
  width:  30%;
  height: 600px;
  width: 400px;
  height: 350 px;
  margin: 20px;
  background-size: cover;
  background-position: 10% 10%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}
/*.items{
  width: 400px;
  height: 350 px;
  margin: 22px;
}*/
footer{
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: black;
  margin: 0 auto;
  text-align: center;
  padding-top:25px;



 }
