body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,166,140,1) 0%, rgba(193,144,77,1) 29%, rgba(205,47,210,1) 69%, rgba(0,212,255,1) 100%);
  /*background-image: url(hello.png);
  background-repeat: no-repeat;
  backface-visibility: fixed;
  background-size: 100%;*/
}
header.header {
  background-color: black;
  opacity: .8;
  border-style: solid;
  border-width: 4px;
  border-color: red;
  border-radius: 1px;
}
ul.menu{
  position = relative;
  line-height: 20px;
}
ul.sub-menu{
  right: 25 px;
}
div.block-header{
  background-color: black;
  opacity: .8;
  border-style: solid;
  border-width: 4px;
  border-color: red;
  border-radius: 1px;
  position: relative;
  padding: 20px;
  text-align:center;
}
#The_best{
  color: white;
  font: 19pt Yu Gothic;
}
.film{
  width: 400px;
  height: 350 px;
  margin: 22px;
}

#Glavnaya{
  position: relative;
  left: 500px;

}
#Katalog{
  position: relative;
  left: 700px;
}
#footer{
  position:relative;
  down: 700px;
  down: 1900px;
}
